## 1. 라이브러리 선언

In [3]:
import pandas as pd
import numpy as np

## 2. 데이터 불러오기

In [4]:
csData = pd.read_csv("../dataset/customerdata.csv", encoding = "ms949")
csData

     CUSTID     AVGPRICE  EMI  DEVICECOUNT  PRODUCTAGE          CUSTTYPE
0    A13566  4273.900000    3            6    1.679181  Big-Screen-lover
1    A14219  3642.441950    2            4    2.682023      Sleeping-dog
2    A15312  3653.884565    2            5    3.208202      Sleeping-dog
3    A16605  3713.211107    2            6    0.900000        Early-bird
4    B10634  3391.074215    2            4    2.453656      Sleeping-dog
..      ...          ...  ...          ...         ...               ...
145  Z13253  3678.800000    2            5    2.463670  Big-Screen-lover
146  Z13534  3662.437527    3            6    0.900000        Early-bird
147  Z16428  3516.500000    2            5    2.371301  Big-Screen-lover
148  Z16735  3300.100000    2            5    1.704942  Big-Screen-lover
149  Z19835  3326.526183    2            6    1.200000        Early-bird

[150 rows x 6 columns]

In [6]:
csData.head(1) #scData의 (숫자) 만큼 확인하겠다. () = 5칸

   CUSTID  AVGPRICE  EMI  DEVICECOUNT  PRODUCTAGE          CUSTTYPE
0  A13566    4273.9    3            6    1.679181  Big-Screen-lover

In [4]:
csData.info() #데이터프레임(csData)의 정보 확인

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   CUSTID       150 non-null    object
 1   AVGPRICE     150 non-null    float64
 2   EMI          150 non-null    int64
 3   DEVICECOUNT  150 non-null    int64
 4   PRODUCTAGE   150 non-null    float64
 5   CUSTTYPE     150 non-null    object
dtypes: float64(2), int64(2), object(2)
memory usage: 7.2+ KB

In [37]:
#csData데이터 안에서 EMI가 3이상인것을 출력(컬럼명 앞에 변수명 꼭 붙여줘야함!)
csData2 = csData.loc[(csData.EMI >= 3) & (csData.AVGPRICE > 3500)] 
csData2

     CUSTID     AVGPRICE  EMI  DEVICECOUNT  PRODUCTAGE          CUSTTYPE
0    A13566  4273.900000    3            6    1.679181  Big-Screen-lover
33   G16437  3787.328898    3            6    1.000000        Early-bird
40   H16326  3988.935304    3            6    0.900000        Early-bird
51   J10809  3676.135627    3            6    0.800000        Early-bird
67   N13273  3839.694732    3            6    1.100000        Early-bird
95   R16364  3592.353540    3            6    0.900000        Early-bird
107  S17396  3895.200000    3            6    2.055707  Big-Screen-lover
113  T11473  4165.700000    3            6    1.780674  Big-Screen-lover
126  V18566  3527.701867    3            6    0.900000        Early-bird
130  W13404  4296.873743    3            6    1.100000        Early-bird
146  Z13534  3662.437527    3            6    0.900000        Early-bird

In [33]:
uiInputId = "a13566"

In [34]:
csData.loc [csData.CUSTID.str.upper() == uiInputId.upper()]

   CUSTID  AVGPRICE  EMI  DEVICECOUNT  PRODUCTAGE          CUSTTYPE
0  A13566    4273.9    3            6    1.679181  Big-Screen-lover

In [42]:
csData.EMI = csData.EMI.astype(str) # 데이터 프레임 타입변환 (.astype)
# = csData["EMI"] = csData["EMI"].astype(int) -> 서로 같은 식이다

In [43]:
csData.dtypes # 데이터 프레임 타입확인 (.dtypes)

CUSTID          object
AVGPRICE       float64
EMI             object
DEVICECOUNT      int64
PRODUCTAGE     float64
CUSTTYPE        object
dtype: object

In [44]:
csDataTypeStr = csData.astype ({"CUSTID":str,
                                "AVGPRICE":str,
                                "EMI":str})

In [45]:
csDataTypeStr.dtypes #위의 식을 통해 타입이 변한것을 아래에서 확인

CUSTID          object
AVGPRICE        object
EMI             object
DEVICECOUNT      int64
PRODUCTAGE     float64
CUSTTYPE        object
dtype: object

In [25]:
csData.shape #csData기준 열은 150 행(컬럼)은 6

(150, 6)

## **리스트에서 데이터프레임 생성

In [16]:
productList = ["aProduct","bProduct","cProduct","dProduct"]

In [17]:
priceList1 = [1000,2000,3000,4000]

In [18]:
priceList2 = [[1000,2000,3000,4000],[1,2,3,4]]

In [19]:
zipList = zip(productList, priceList1)

In [20]:
resultDf = pd.DataFrame(zipList, columns = ["productName","price"])

In [21]:
resultDf

  productName  price
0    aProduct   1000
1    bProduct   2000
2    cProduct   3000
3    dProduct   4000

In [22]:
pd.DataFrame( productList )

          0
0  aProduct
1  bProduct
2  cProduct
3  dProduct

In [23]:
pd.DataFrame( priceList2 )

      0     1     2     3
0  1000  2000  3000  4000
1     1     2     3     4

## 데이터프레임 컬럼 조회하기

In [46]:
import pandas as pd

In [47]:
customerData = pd.read_csv("../dataset/customerData.csv")

In [48]:
targetcolumns = ["CUSTID", "AVGPRICE"]
customerDataC = customerData.loc[ : , targetcolumns ] # loc = location

In [52]:
customerDataC3 = customerDataC

In [53]:
customerDataC3.CUSTID = 1

In [54]:
customerDataC

     CUSTID     AVGPRICE
0         1  4273.900000
1         1  3642.441950
2         1  3653.884565
3         1  3713.211107
4         1  3391.074215
..      ...          ...
145       1  3678.800000
146       1  3662.437527
147       1  3516.500000
148       1  3300.100000
149       1  3326.526183

[150 rows x 2 columns]

### kopo_customerdata.csv 파일을 불러온 후
### kopo_customerData 변수에 담으세요 이후
### STATENAME, GENDER 컬럼 첫 5개행 조회하세요

In [9]:
import pandas as pd

kopo_customerData = pd.read_csv("../dataset/kopo_customerdata.csv")

targetcolumns = ["STATENAME", "GENDER"]
customerData = kopo_customerData.loc[ : , targetcolumns ].head(5) #방법1
customerData = kopo_customerData.loc[ 5:10 , targetcolumns ] #방법2, 중간의 내용물을 확인할 때

customerData

   STATENAME  GENDER
5     State2    Male
6     State2  Female
7     State2  Female
8     State2    Male
9     State2    Male
10    State2    Male

### 데이터조작방법
#### 1. np.where를 조작한다 (복잡한 로직에는 힘듬)
#### 2. 함수를 활용하여 조작한다 (복잡한 로직에도 강하다)
#### 3. loc함수를 활용해서 조작한다 (가독성이 뛰어나나 속도가 떨어진다)
#### 4. map함수를 사용할수도 있다 (머신/딥 러닝에서 많이 사용된다)

In [15]:
import padas as pd
import numpy as np

In [26]:
csData = pd.read_csv("../dataset/customerdata.csv", encoding = "ms949")

In [ ]:
# 함수정의 
# inputValue < 1 : 1
# 1 <= inputValue < 2 : 2
# inputValue >= 2 3

In [16]:
inValue = 0.3

In [17]:
def valueClustering(inValue):

    outValue = inValue

    if inValue < 1:
        outValue = 1
    elif inValue < 2:
        outValue = 2
    else:
        outValue = 3

In [27]:
csData.PRODUCTAGE.apply(valueClustering)

0      None
1      None
2      None
3      None
4      None
       ...
145    None
146    None
147    None
148    None
149    None
Name: PRODUCTAGE, Length: 150, dtype: object

## loc방식

In [38]:
csData.loc [csData.PRODUCTAGE < 1,
             "PRODUCTAGE_NEW"] = 1

In [42]:
csData.loc [(csData.PRODUCTAGE >= 1) & (csData.PRODUCTAGE < 2),
            "PRODUCTAGE_NEW"] = 2

In [43]:
csData.loc [(csData.PRODUCTAGE >= 2), "PRODUCTAGE_NEW"] = 3

In [47]:
csData.loc [(csData.PRODUCTAGE) < 1 & (csData.PRODUCTAGE_NEW != 1)]

Empty DataFrame
Columns: [CUSTID, AVGPRICE, EMI, DEVICECOUNT, PRODUCTAGE, CUSTTYPE, PRODUCTAGE_NEW]
Index: []

## map함수

In [51]:
featuresData = pd.read_csv("../dataset/feature_regression_example.csv")

In [52]:
ynMap = {"Y":1, "N":0}

In [53]:
featuresData["HOLIDAY_NEW"] = featuresData.HOLIDAY.map(ynMap)

In [54]:
featuresData.head(2)

,REGIONID,PRODUCTGROUP,PRODUCT,ITEM,YEARWEEK,YEAR,WEEK,QTY,HOLIDAY,HCLUS,PROMOTION,PRO_PERCENT,HOLIDAY_NEW
0,SEOUL_BANK_001,PG02,PRODUCT0010,ITEM0115,201501,2015,1,1225,Y,1,Y,0.209442,1
1,SEOUL_BANK_001,PG02,PRODUCT0010,ITEM0115,201502,2015,2,968,N,4,Y,0.209442,0

## 정렬하기

In [2]:
import pandas as pd

In [3]:
csData = pd.read_csv("../dataset/customerdata.csv", encoding = "ms949")

In [4]:
csData.columns

Index(['CUSTID', 'AVGPRICE', 'EMI', 'DEVICECOUNT', 'PRODUCTAGE', 'CUSTTYPE'], dtype='object')

In [5]:
sortKey = ["EMI", "AVGPRICE"]

In [6]:
sortedData = csData.sort_values(sortKey)
sortedData

     CUSTID     AVGPRICE  EMI  DEVICECOUNT  PRODUCTAGE          CUSTTYPE
68   N14862  2390.083736    1            6    1.000000        Early-bird
47   I17056  2963.370122    1            3    2.139196      Sleeping-dog
140  Y12458  2976.211190    1            3    2.199677      Sleeping-dog
73   O13586  2980.229239    1            3    2.038603      Sleeping-dog
86   Q16449  3048.308860    1            3    2.369758      Sleeping-dog
..      ...          ...  ...          ...         ...               ...
107  S17396  3895.200000    3            6    2.055707  Big-Screen-lover
40   H16326  3988.935304    3            6    0.900000        Early-bird
113  T11473  4165.700000    3            6    1.780674  Big-Screen-lover
0    A13566  4273.900000    3            6    1.679181  Big-Screen-lover
130  W13404  4296.873743    3            6    1.100000        Early-bird

[150 rows x 6 columns]

In [7]:
csData.sort_values(by=sortKey,
                   ascending=[True,True],
                   inplace=True)

In [9]:
groupKey = ["EMI"]

In [11]:
csData.groupby(groupKey)[["AVGPRICE"]].agg("mean")

        AVGPRICE
EMI
1    3119.031810
2    3441.429664
3    3559.487188

In [8]:
csData

     CUSTID     AVGPRICE  EMI  DEVICECOUNT  PRODUCTAGE          CUSTTYPE
68   N14862  2390.083736    1            6    1.000000        Early-bird
47   I17056  2963.370122    1            3    2.139196      Sleeping-dog
140  Y12458  2976.211190    1            3    2.199677      Sleeping-dog
73   O13586  2980.229239    1            3    2.038603      Sleeping-dog
86   Q16449  3048.308860    1            3    2.369758      Sleeping-dog
..      ...          ...  ...          ...         ...               ...
107  S17396  3895.200000    3            6    2.055707  Big-Screen-lover
40   H16326  3988.935304    3            6    0.900000        Early-bird
113  T11473  4165.700000    3            6    1.780674  Big-Screen-lover
0    A13566  4273.900000    3            6    1.679181  Big-Screen-lover
130  W13404  4296.873743    3            6    1.100000        Early-bird

[150 rows x 6 columns]

In [21]:
# window = 구간, center = 기준점, min_period = 최소구간
csData["AVGPRICE_NEW"] = csData["AVGPRICE"].rolling(window=5, center=True, min_periods=1).mean()

In [22]:
csData

,CUSTID,AVGPRICE,EMI,DEVICECOUNT,PRODUCTAGE,CUSTTYPE,AVGPRICE_NEW
68,N14862,2390.083736,1,6,1.000000,Early-bird,2776.555016
47,I17056,2963.370122,1,3,2.139196,Sleeping-dog,2827.473572
140,Y12458,2976.211190,1,3,2.199677,Sleeping-dog,2871.640629
73,O13586,2980.229239,1,3,2.038603,Sleeping-dog,3025.591723
86,Q16449,3048.308860,1,3,2.369758,Sleeping-dog,3082.117699
...,...,...,...,...,...,...,...
107,S17396,3895.200000,3,6,2.055707,Big-Screen-lover,3935.371787
40,H16326,3988.935304,3,6,0.900000,Early-bird,4032.686007
113,T11473,4165.700000,3,6,1.780674,Big-Screen-lover,4124.121809
0,A13566,4273.900000,3,6,1.679181,Big-Screen-lover,4181.352262
130,W13404,4296.873743,3,6,1.100000,Early-bird,4245.491248