In [2]:
import pandas as pd
import numpy as np

# 분석 알고리즘 DecisionTree 구현 라이브러리
from sklearn.tree import DecisionTreeRegressor

# 과거데이터를 8:2, 7:3 이나 이런식으로 자동으로 나누어주는 함수 
from sklearn.model_selection import train_test_split

from sklearn.preprocessing import LabelEncoder

from sklearn.metrics import mean_absolute_error
from sklearn.metrics import mean_squared_error

In [13]:
# 깃허브에서 csv파일 읽어오는
targetUrl = "https://raw.githubusercontent.com/hyokwan/python-lecture/master/dataset/cars.csv"
featuresData = pd.read_csv(targetUrl)
featuresData.head()

   age  gender  miles   debt  income  sales
0   28       0     23      0    4099    620
1   26       0     27      0    2677   1792
2   30       1     58  41576    6215  27754
3   26       1     25  43172    7626  28256
4   20       1     17   6979    8071   4438

In [11]:
featuresData.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 963 entries, 0 to 962
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   age     963 non-null    int64
 1   gender  963 non-null    int64
 2   miles   963 non-null    int64
 3   debt    963 non-null    int64
 4   income  963 non-null    int64
 5   sales   963 non-null    int64
dtypes: int64(6)
memory usage: 45.3 KB

In [14]:
corrDf = featuresData.corr()

In [15]:
corrDf

             age    gender     miles      debt    income     sales
age     1.000000 -0.000702  0.232399  0.218896  0.239644  0.352609
gender -0.000702  1.000000 -0.031355 -0.033181 -0.034317 -0.036350
miles   0.232399 -0.031355  1.000000  0.544791  0.422141  0.636676
debt    0.218896 -0.033181  0.544791  1.000000  0.491790  0.835541
income  0.239644 -0.034317  0.422141  0.491790  1.000000  0.674685
sales   0.352609 -0.036350  0.636676  0.835541  0.674685  1.000000

In [17]:
standardLimit = 0.5

In [19]:
features = list(corrDf.loc[(abs(corrDf.sales) > standardLimit) & (corrDf.sales != 1)].index)

In [ ]:
label = ["sales"]

In [22]:
features

['miles', 'debt', 'income']

In [25]:
sortKey = ["miles", "debt", "income"]

In [26]:
sortedData = featuresData.sort_values(sortKey, ignore_index=True)
standardIndex = 0.8

In [27]:
selectedIndex = int( list (sortedData.shape) [0] * standardIndex )

In [30]:
incomeStd = sortedData.loc[selectedIndex].income

In [31]:
trainingDataFeatures = sortedData.loc[sortedData.income <= incomeStd, features]
trainingDataLabel = sortedData.loc[sortedData.income <= incomeStd, label]
testDataFeatures = sortedData.loc[sortedData.income > incomeStd, features]
testDataLabel = sortedData.loc[sortedData.income > incomeStd, label]

NameError: name 'label' is not defined